{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <header>
        <h1>WEBINGO</h1>
        <nav>
            <ul class="navul">
                <li class="navitem">
                    <button><a href="{{ path('app_bingo_grid_index')}}">Grilles publiques</a></button>
                </li>
                {% if is_granted('ROLE_USER') %}
                    <li class="navitem">
                        <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                    </li>
                {% else %}
                    <li class="navitem">
                        <button><a href="{{ path('app_login') }}">Connexion</a></button>
                    </li>
                    <li class="navitem">
                        <button><a href="{{ path('app_register') }}">Inscription</a></button>
                    </li>
                {% endif %}
                <li class="navitem">
                        <button><a href="{{ path('app_message_new') }}">message</a></button>
                    </li>
                {% if is_granted('ROLE_SUPER_ADMIN_1') %}
                    <li class="navitem">
                        <a class="nav-link" href="{{ path('show_dash') }}">Administration</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        <h2>Webingo, c'est quoi ?</h2>
        <p>Très bonne question, Fred.</p>
        <p>Peut-être connaissez-vous le site Tiermaker ou même le jeu classique du bingo, celui-là même où nous sommes face à une grille tirée au hasard avec des nombres qui seront criés par un animateur de soirée un peu désuètes et où, si vous complétez en premier une ligne, une colonne ou une diagonale, vous devez cirer "BINGO" pour espérer gagner un lot.</p>
        <p>Mais ici, il s'agit de la version modernisée de ce jeu. Face à un événement (par exemple, un discours de Macron pendant une certaine pandémie), certains se sont amusés à créer des grilles avec des éléments de langages qu'ils pressentaient pouvoir sortir de la bouche de Mr le Président. Nous, on pousse le vice encore plus loin, puisuq'on vous propose un outil pour créer ces grilles merveilleuses et absolument chaotiques. </p>
    </main>

    <footer>
        <p>Créé avec amour et haine par des étudiants en L3 informatique, saupoudré de problèmes d'ordinateurs.</p>
    </footer>
{% endblock %}