{% extends 'base.html.twig' %}

{% block title %}BingoGrid index{% endblock %}

{% block body %}


    <header>
        <a class="homepagelink" href="{{ path('main')}}"><h1>WEBINGO</h1></a>
        <nav>
            <ul class="navul">
                <li class="navitem">
                    <a href="{{ path('app_bingo_grid_index')}}"><button>Grilles publiques</button></a>
                </li>
                {% if is_granted('ROLE_USER') %}
                    <li class="navitem">
                        <a class="nav-link" href="{{ path('app_logout') }}"><button>Déconnexion</button></a>
                    </li>
                {% else %}
                    <li class="navitem">
                        <a href="{{ path('app_login') }}"><button>Connexion</button></a>
                    </li>
                    <li class="navitem">
                        <a href="{{ path('app_register') }}"><button>Inscription</button></a>
                    </li>
                {% endif %}
                <li class="navitem">
                    <a href="{{ path('app_message_new') }}"><button>message</button></a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="navitem">
                        <a class="nav-link" href="{{ ea_url().setController('App\\Controller\\Admin\\DashboardController') }}"><button>Administration</button></a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Gridname</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% if is_granted('ROLE_USER')%}
        
            {% for bingo_grid in bingo_grids %}
                {% if bingo_grid.getMakeAccesses()|length > 0 %}
                    {% for makeAccess in bingo_grid.getMakeAccesses() %}
                        {% if makeAccess.getIduser().getId() == user.getId() %}
                            <tr>
                                <td>{{ bingo_grid.id }}</td>
                                <td>{{ bingo_grid.gridname }}</td>
                                <td>
                                    <a href="{{ path('app_bingo_grid_show', {'id': bingo_grid.id}) }}">show</a>
                                    <a href="{{ path('app_bingo_grid_edit', {'id': bingo_grid.id}) }}">edit</a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% if bingo_grid.getReadAccesses()|length > 0 %}
                    {% for readAccess in bingo_grid.getReadAccesses() %}
                        {% if readAccess.getIduser().getId() == user.getId() %}
                            <tr>
                                <td>{{ bingo_grid.id }}</td>
                                <td>{{ bingo_grid.gridname }}</td>
                                <td>
                                    <a href="{{ path('app_bingo_grid_show', {'id': bingo_grid.id}) }}">show</a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            
        {% elseif is_granted('ROLE_ADMIN')%}
            {% for bingo_grid in bingo_grids %}
                <tr>
                    <td>{{ bingo_grid.id }}</td>
                    <td>{{ bingo_grid.gridname }}</td>
                    <td>
                        <a href="{{ path('app_bingo_grid_show', {'id': bingo_grid.id}) }}">show</a>
                        <a href="{{ path('app_bingo_grid_edit', {'id': bingo_grid.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
        {% else %}
        <p>Veuillez vous connecter svp.</p>
            
        {% endif %}
        
        </tbody>
    </table>

    <a href="{{ path('app_bingo_grid_new') }}">Create new</a>
{% endblock %}
