{% extends 'base.html.twig' %}

{% block title %}BingoGrid index{% endblock %}

{% block body %}
    <h1>BingoGrid index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Gridname</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bingo_grid in bingo_grids %}
            <tr>
                <td>{{ bingo_grid.id }}</td>
                <td>{{ bingo_grid.gridname }}</td>
                <td>
                    <a href="{{ path('app_cell_grid', {'id': bingo_grid.id}) }}">show</a>
                    <a href="{{ path('app_bingo_grid_edit', {'id': bingo_grid.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_USER') or is_granted('ROLE_SUPER_ADMIN_1')%}
        <a href="{{ path('app_bingo_grid_new') }}">Create new</a>
    {% else %}
        <li class="navitem">
            <button><a href="{{ path('app_login') }}">Connexion</a></button>
        </li>
        <li class="navitem">
            <button><a href="{{ path('app_register') }}">Inscription</a></button>
        </li>
    {% endif %}
    <li class="navitem">
        <button><a href="{{ path('main') }}">Home page</a></button>
    </li>
{% endblock %}
