{{ form_start(form) }}
<div>
    {{ form_errors(form) }}
</div>
<div>
    {{ form_label(form.content, 'Content : ') }}
    {{ form_widget(form.content, {'attr': {'class': 'forminput'}}) }}
</div>
<button class="btunconnection">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
