{% extends 'base.html.twig' %}

{% block title %}Cell{% endblock %}

{% block body %}
    <h1>Cell</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cell.id }}</td>
            </tr>
            <tr>
                <th>CoordX</th>
                <td>{{ cell.coordX }}</td>
            </tr>
            <tr>
                <th>CoordY</th>
                <td>{{ cell.coordY }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ cell.content }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_cell_index') }}">back to list</a>

    <a href="{{ path('app_cell_edit', {'id': cell.id}) }}">edit</a>

    {{ include('cell/_delete_form.html.twig') }}
{% endblock %}
