{% extends 'base.html.twig' %}

{% block title %}New Message{% endblock %}

{% block body %}
    <header>
        <a class="homepagelink" href="{{ ea_url().setController('App\\Controller\\Admin\\DashboardController')}}"><h1>ADMIN</h1></a>
        <nav>
            <ul class="navul">
                <li class="navitem">
                    <a href="{{ ea_url().setController('App\\Controller\\Admin\\DashboardController') }}"><button>Admin</button></a>
                </li>
                <li class="navitem">
                    <a href="{{ path('main') }}"><button>Homepage</button></a>
                </li>
                <li class="navitem">
                    <a href="{{ path('app_message_index') }}"><button>Messages</button></a>
                </li>
                <li class="navitem">
                    <a href="{{ path('app_bingo_grid_index') }}"><button>Grilles</button></a>
                </li>
                <li class="navitem">
                    <a href="{{ path('app_users_index') }}"><button>user</button></a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="sectionpagemessagenew">
            <h2>Contact us</h2>
            <div class="formmessagenew">
                {{ include('message/_form.html.twig') }}
            </div>
        </section>
    </main>
    <footer>
        <p>Créé avec amour et haine par des étudiants en L3 informatique, saupoudré de problèmes d'ordinateurs.</p>
    </footer>
{% endblock %}
