{% extends 'base.html.twig' %}

{% block title %}Edit Users{% endblock %}

{% block body %}
    <header>
        <a class="homepagelink" href="{{ ea_url().setController('App\\Controller\\Admin\\DashboardController')}}"><h1>ADMIN</h1></a>
        <nav>
            <ul class="navul">
                <li class="navitem">
                    <a href="{{ ea_url().setController('App\\Controller\\Admin\\DashboardController') }}"><button>Admin</button></a>
                </li>
                <li class="navitem">
                    <a href="{{ path('main') }}"><button>Homepage</button></a>
                </li>
                <li class="navitem">
                    <a href="{{ path('app_message_index') }}"><button>Messages</button></a>
                </li>
                <li class="navitem">
                    <a href="{{ path('app_bingo_grid_index') }}"><button>Grilles</button></a>
                </li>
                <li class="navitem">
                    <a href="{{ path('app_users_index') }}"><button>user</button></a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <h2>Edit Users</h2>

        <div class="redborder">
            {{ include('users/_form.html.twig', {'button_label': 'Update'}) }}
            {{ include('users/_delete_form.html.twig') }}
        </div>

        <a href="{{ path('app_users_index') }}"><button class="commonbtn">back to list</button></a>


    </main>

    <footer>

    </footer>
{% endblock %}
